[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/home/chris/apps/obsidian/Obsidian.AppImage
Name=Obsidian
Icon=/home/chris/apps/obsidian/512x512.png
